.navbar-inverse .navbar-brand {
    color: white;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .active > a 
    {
    color: orange;
    }

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus 
    {
        color: red;
    }

img.resize {
    max-width: 50%;
    max-height: 50%;
}

.carousel-caption {
    font-size: 40px;
}

body {
    padding-bottom: 70px;
}

.fa {
    font-family: 'FontAwesome' !important;
}

/*.jumbotron {
    margin-bottom: 0px;
    background-image: url(assets/cacti1_1008.png);
    opacity: 0.4;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: black 0.3em 0.3em 0.3em;
}*/

#indexlanding {
    max-width: 50%;
    max-height: 50%;
}
#padding {
    opacity: 0;
    width: 50px;
}
/*Zero opacity grid cells with width overrides are probably not the best way to do padding in bootstrap, but meh*/

.vertical-center {
    display: flex;
    align-items: center;
}
.center-text {
    text-align: center;
}