.navbar-inverse .navbar-brand {
    color: white;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .active > a 
    {
    color: orange;
    }

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus 
    {
        color: red;
    }

img.resize {
    max-width: 150%;
    max-height: 150%;
}

.carousel-caption {
    font-size: 40px;
}

body {
    padding-bottom: 70px;
}

.fa {
    font-family: 'FontAwesome' !important;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: lavender;
    opacity: 1;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

#padding {
    height: 50px;
}

.vertical-center {
    display: flex;
    align-items: center;
}
.center-text {
    text-align: center;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.tags{
    display:inline
}
