.navbar-inverse .navbar-brand {
    color: white;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .active > a 
    {
    color: orange;
    }

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus 
    {
        color: red;
    }

img.resize {
    max-width: 50%;
    max-height: 50%;
}

.carousel-caption {
    font-size: 40px;
}

body {
    padding-bottom: 70px;
}